* {
    margin: 0;
    padding: 0;
}

p {
    color: aliceblue;
}

h1 {
    text-align: center;
    color: white;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

body {
    background-image: URL('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #160a0a;
}

button {
    width: 70px;
}

#one {
    margin-left: 80px;
    text-align: center;
}

#cards-list li {
    list-style: none;
    cursor: pointer;
    border: 1px solid black;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#artists-list li {
    list-style: none;
    cursor: pointer;
    border: 2px solid white;
    width: 250px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

header {
    height: 10vh;

}

.cards {
    height: 90vh;
}

.cards>div, .cards>div>div {
    height: 100%;
}

.cards-list {
    width: 25%;
}

#card-details {
    width: 75%;
}

#cards-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.card-name {
    text-align: center;
    color: aliceblue;
    height: 10%;
}

.details {
    height: 90%;
}

#card-img {
    border-radius: 15px;
    width: 310px;
    height: 430px;
}

.text, .image {
    width: 50%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text>p {
    margin-bottom: 20px;
    background-color: #f0f8ff52;
    padding: 10px;
    display: flex;
    align-items: center;
}

.text>div>p {
    background-color: #f0f8ff52;
    padding: 10px;
}

.bg-img-W {
    background-color: white;
}

.bg-img-B {
    background-color: black;
    color: white;
}

.bg-img-U {
    background-color: blue;
}

.bg-img-G {
    background-color: green;
}

.bg-img-R {
    background-color: red;
}

.bg-img-N {
    background-color: #eca850;
}

.icon {
    width: 25px;
    height: 25px;
}
